@charset "utf-8";
body {
    padding: 0;
}
.nav5{
    background-image: url(../images/bg_title.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: contain;
}
.access_wrap {
    padding: 40px 0 130px;
}

.access {
    font-size: 14px;
}

.access_map {
    margin: auto;
    position: relative;
    width: 100%;
    padding-top: 50%;
    max-width: 500px;
    overflow: hidden;
}

.access_info {
    margin: 30px 0 0;
}

.access_map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.access_address {
    line-height: 1.5px;
}

.access_address::before {
    content: url(../images/pin.png);
    vertical-align: middle;
    padding-right: 5px;
}

.access_address_ttl {
    margin-top: 20px;
    font-weight: bold;
    color: #1C466D;
    line-height: 23px;
}

.access_info .access_address_ttl:nth-of-type(1)::before {
    content: url(../images/icon_car.svg);
    vertical-align: middle;
}

.access_info .access_address_ttl:nth-of-type(2)::before {
    content: url(../images/icon_train.svg);
    vertical-align: middle;
}

.access_info .access_address_txt:first-of-type span {
    padding-top: 10px;
    display: block;
    font-size: 11px;
}

dl.access_address_txt {
    display: grid;
    gap: 8px;
    margin: 15px 0 0;
}
@media (min-width: 1000px) {
    .access_map {
        padding-top: 30%;
    }

    .access {
        font-size: 14px;
        display: flex;
        justify-content: center;
        margin: auto;
    }

    .access_map {
        margin: 0 40px 0 0;
    }

    .access_info {
        margin: 0;
    }
}