@charset "utf-8";


nav li a {
    text-decoration: none;
    color: black;
}
main{
   padding-top: 20px;
     background-color: #EFFFFE;
}

.nav3{
    background-image: url(../images/bg_title.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: contain;
}
h2{
    margin: 100px 0 30px;
    font-size: 20px;
    line-height: 2;
    color: #FF931E;
    border-bottom: 1px solid #FF9C39;
    border-top:  1px solid #FF9C39;
    border-left: 7px solid #FF9C39;
    border-right: 7px solid #FF9C39;

    border-radius: 30px;
    padding-left: 12px;
}
.events_nav ul{
    padding-left: 36px;
    background-image: url(../images/finger.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

.events_nav ul li{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 3px;
    line-height: 1.7;
    background-color: #FF931E;
    border-radius: 0 20px 0 0;
    list-style: none;
    width: 90px;
    text-align: center;
}
.events_nav ul.flex{
    justify-content: start;
    gap: 15px;
    margin-bottom: 50px;
}

.events_nav ul li a{
    text-decoration: none;
    color: #fff;
}
.event{
    padding-bottom: 120px;
}
.event_wrap{
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.event .box {

    background-color: #FCFFF7;
    border-radius: 20px;
    border: 1px solid #FF931E;
    padding: 14px 14px 10px;
  height: 280px;
}
.event .box .flex {
    width: 272px; 

}
.event .box .ename{
    margin-left: 3px;
    line-height: 1.7;
}
.event .box .date{
    font-size: 15px;
    width: 138px;
    color: #FCFFF7;
    text-align: center;
    background-color: #FF931E;
    border-radius: 0 0 12px 12px;
    margin-top: -8px;
    margin-right: -1px;
    height: 30px;
    line-height: 30px;

}
.event .box .btn{
    text-align: right;
    margin-top: 10px;
}
.event .info{
    width: 290px;
    padding: 10px 0 50px 10px ;
}

.event .info span{
    border: 1px solid #000;
    border-radius: 50px;
    padding: 2px 6px;
    font-size: 13px;
    background-color: #fff;
}
.event .box .next{
    margin-top: 110px;
    color: #FF931E;
    font-size: 28px;
    line-height: 30px;
    font-weight: bold;
    text-align: center;
    width: 304px;
}
.event .box .next::after{
    padding-left: 8px;
    vertical-align: middle;
    content: url(../images/sankaku.svg);
}

.event .kako li{
    list-style-position: inside;
    list-style-type: circle;

}
.event .kako li a{
    text-decoration: none;
    color: #000;
}
.event .insta{
    margin: 50px auto 60px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    height: 120px;
    line-height: 1.8;
    background-image: url(../images/orange_bg.png);
    background-repeat: no-repeat;
    background-position: center top;
}
@media (min-width: 768px) {
body {
    padding:155px 0 0;
}
}
@media (min-width: 1000px) {
    body {
    padding:180px 0 0;
}
}
