@charset "utf-8";

main{
    line-height: 2.3;
    color: #173A59;

}
main .title{
    justify-content: start;
    gap: 70px;
    margin-bottom: 30px;
}

.title figcaption{
    font-size: 14px;
    text-align: center;
}
h2{ 
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 15px;
  border: 1px solid #173a59;
  border-radius: 60px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  height: 100px;
  line-height: 1.5;
  
}

h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17%;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #173a59 transparent transparent;
  translate: -50% 100%;
  transform: skew(-50deg);
  transform-origin: top;
}

h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17%;
  border-style: solid;
  border-width: 17.6px 17.6px 0 0;
  border-color: #EFFFFE transparent transparent;
  translate: calc(-50% - 0.2px) 100%;
  transform: skew(-50deg);
  transform-origin: top;
}
article.flex{
    flex-direction: column;
    align-items: center;
   margin-bottom: 30px;
    gap: 75px;
}
article .flex{
    flex-direction: column;
}
article .textbox{
    justify-content: start;
gap: 45px;
}

article figcaption{
    font-size: 14px;
    margin-top: -12px;
    text-align: center;
    color:#000;
}

article .photo{
    justify-content: start;
    gap: 20px;
}

main .owari p:first-child{
   padding-bottom: 25px;}

main .owari p:last-child{
    padding: 30px 0 550px;
    background-image: url(../images/mikawakou_matome.png);
    background-repeat: no-repeat;
    background-position: center 130px;
}
main span{
    font-weight: bold;
}
@media (min-width: 768px) {
h2{ 
  font-size: 20px;
}
}
@media (min-width: 1000px) {
    article.flex{
    flex-direction: row;
   margin-bottom: 30px;
    gap: 75px;
}
}
@media (min-width: 1350px) {
h2{ 
  font-size: 36px;
}   main .title{
    background-image: url(../images/mikawakoumap.png);
    background-repeat: no-repeat;
    background-position: right top;
}
}