@charset "utf-8";
.nav02_wrap .nav4 a {
    color: #fff;
}
main{
    line-height: 2.3;
    color: #173A59;
}
.mikawakou_title img {
    display: block;
    width: 100%;
}
.mikawakou_title figure {
    width: 40%;
}
.mikawakou_title figcaption {
    display: none;
}
main .mikawakou_title{
    display: flex;
    justify-content: start;
    gap: 10px;
    margin: 30px auto;
}
.mikawakou_title figcaption{
    font-size: 14px;
    text-align: center;
}
h2{ 
    width: 80%;
    height: 58px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 15px;
  border: 1px solid #173a59;
  border-radius: 60px;
  text-align:center;
  font-size: 16px;
  font-weight: 400;
}
h2::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17%;
  border-style: solid;
  border-width: 20px 20px 0 0;
  border-color: #173a59 transparent transparent;
  translate: -50% 100%;
  transform: skew(-50deg);
  transform-origin: top;
}
h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17%;
  border-style: solid;
  border-width: 17.6px 17.6px 0 0;
  border-color: #EFFFFE transparent transparent;
  translate: calc(-50% - 0.2px) 100%;
  transform: skew(-50deg);
  transform-origin: top;
}
article.flex{
    flex-direction: column;
    align-items: center;
   margin-bottom: 20px;
    gap: 30px;
}
article .flex{
    flex-direction: column;
}
article .textbox{
    justify-content: start;
gap: 15px;
}
article figcaption{
    font-size: 14px;
    text-align: center;
    color:#000;
}
article .photo{
    justify-content: start;
    gap: 20px;
}
main .owari p:first-child{
   padding-bottom: 25px;}

main .owari p:last-child{
    padding: 30px 0 420px;
    background-image: url(../images/mikawakou_matome.png);
    background-repeat: no-repeat;
    background-position: center 130px;
}
main span{
    font-weight: bold;
}
@media (min-width: 768px) {
    .mikawakou_title img {
    display: block;
    width: 100%;
}
.mikawakou_title figure {
    width: 30%;
}
.mikawakou_title figcaption {
    display: block;
}
main .mikawakou_title{
        gap: 70px;
flex-direction: row;
}
article .textbox{
width: 52%;
justify-content: start;
gap: 55px;
}
article.flex{
    gap: 75px;
}
h2{ 
    line-height: 1.5;
  padding: 20px 15px;
    width: auto;
    height: 100px;
  font-size: 20px;
}
    article.flex{
         align-items: flex-start;
    flex-direction: row;
   margin-bottom: 30px;
    gap: 75px;
}
main .owari p:last-child{
    padding: 30px 0 550px;
}
}
.photo img {
    width: 100%;
    display: block;
    margin: auto;
}
@media (min-width: 1000px) {
main .mikawakou_title{
    margin: 60px auto 30px;
}
.mikawakou_title figure {
    width: 20%;
}
}
@media (min-width: 1350px) {
h2{ 
  font-size: 36px;
}   main .mikawakou_title {
    background-image: url(../images/mikawakoumap.png);
    background-repeat: no-repeat;
    background-position: right top;
    gap: 100px;
}
}