@charset "utf-8";
body {
    background-color: #EFFFFE;
}
.map_wrap {
    display: none;
}
.map_sp {
    margin: 60px 0 0;
}
.map_sp img {
    width: 80%;
    margin: auto;
    display: block;
}
.map_btn {
    text-align: center;
}
.map_btn .button  {
  background: url("../images/h_btn2.png") no-repeat right;
}
 .map_btn .button:hover {
  background-image: url("../images/btn3.png");
}

@media (min-width: 960px) {
 .map_sp {
        display: none;
    }
.map_wrap {
    display: flex;
    margin: 80px 0 0;
    gap: 0;
    justify-content: center;
}
.map_wrap img {
    display: block;
    transition: 0.5s;
}
.map_wrap img:hover {
    transform: scale(1.1);
}
.map_btn {
    text-align: right;
}
}
@media (min-width: 1200px) {
    .area_map {
        padding: 70px 0 0;
    }

}
.nav2{
    background-image: url(../images/bg_title.png);
    background-repeat: no-repeat;
    background-position: center 50px;
    background-size: contain;
}
.shop_nav ul{
    padding-left: 36px;
    background-image: url(../images/finger.svg);
    background-repeat: no-repeat;
    background-position: left top;
}


.shop_nav ul li{
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 3px;
    line-height: 1.7;
    background-color: #FF931E;
    border-radius: 0 20px 0 0;
    list-style: none;
    width: 90px;
    text-align: center;
}
.shop_nav ul.flex{
    justify-content: start;
    gap: 15px;
    margin-bottom: 50px;
}

.shop_nav ul li a{
    text-decoration: none;
    color: #fff;
}

main .map{
    text-align: center;
}
.map img {
    display: block;
    width: 100%;
}

main .shop{
    width: auto;
    margin: auto;
}
main section.flex{
    justify-content: start;
    gap: 50px;
}
h2{

font-size: 20px;
     font-family: ads-namikaze, sans-serif;
font-style: normal;
font-weight: 400;
letter-spacing: 2px;
margin-bottom: 10px;
        
}


h3{
    font-weight: normal;
    margin: 5px 0 7px;

}
section {
    padding-bottom: 100px;
}
main .box{
    border: 1px solid #FF931E;
    background-color:#FCFFF7 ;
    border-radius: 13px;
    width: 246px;
    height: 146px;
    padding: 12px 12px 0;
}

main .box .what{
    font-size: 12px;
    background-color: #FF931E;
    color: #fff;
    border-radius: 50px;
  padding: 0 5px;
  display: inline-block;
  margin-bottom: 10px;
}
main .box .time{
    font-size: 13px;
    line-height: 16px;
}
main .box .time::before{
    padding-right: 3px;
    vertical-align: middle;
    content: url(../images/shop_time.svg);
}

.arrow  {
    display: block;
  text-align: right;
  padding-right: 10px;
}

.shop_flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 40px;
}

.shop .title{
    font-size: 20px;
    line-height: 2;
     color: #FF931E;
    border-bottom: 1px solid #FF9C39;
    border-top:  1px solid #FF9C39;
    border-left: 7px solid #FF9C39;
    border-right: 7px solid #FF9C39;
font-weight: bold;
    border-radius: 30px;
    padding-left: 12px;
    margin: 60px 0 25px;
}
@media (min-width: 768px) {
body {
    padding:80px 0 0;
}
.shop_flex {
    justify-content: flex-start;
}
}
@media (min-width: 1000px) {
    body {
    padding:160px 0 0;
}
main .shop{
    width: 920px;
    margin: auto;
}
}
