@charset "utf-8";
body {
  font-size: 14px;
  color: #000;
  line-height: 2;
  font-family: "hina-mincho", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #F0EEE8;
}
.yu_gothic {
  font-family:'游ゴシック';
}
header {
  padding: 20px 0 0;
}
.dl_warp {
  padding: 0 0 60px;
  background-image: url(wave_bg.png);
  background-position: center bottom;
  background-size: contain;
  text-align: center;
}
.dl_warp_txt {
  display: block;
  letter-spacing: 4px;
  font-size: 18px;
  text-decoration: none;
  color: #E02929;
  transition: 0.5s;
}
.header_ttl {
  margin: 15px 0 0;
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 5px;
}
.header_ttl rt {
  margin: 0 0 7px;
}
.menu_box_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin:0px 0 30px;
}
.sec_menu {
  padding: 40px 0 0;
  position: relative;
    background-image:url(cute_04.png),url(cute_01.png),url(cute_08.png),url(cute_05.png),url(cute_02.png),url(cute_06.png);
    background-position:13% 40px,24% 370px,50% 250px,17% 320px,78% 350px,85% 240px;
    background-size: 10%;
}
.menu_box:first-child::after{
content: "自己紹介";
color: #E02929;
font-size: 14px;
padding: 0 0 0 20px;
}
.menu_box:last-child::after {
content: "制作物";
color: #E02929;
font-size: 14px;
padding: 0 0 0 20px;

}
.menu_box {
  list-style: none;
  width: 85%;
  margin: auto;
  transition: 0.5s;
}
.menu_box a {
  text-decoration: none;
}
.menu_box:hover {
 transform: translateY(-20px);
}
.menu_box:hover .menu_box_inner {
background-image: linear-gradient(0deg, #497f47c2, #7bff6ef5 0%, #eaf5e7 48%);
}
.menu_box_inner {
  margin: 35px 0 0;
  border-radius: 123px;
  background-color: #EAF5E7;
  border:1px solid #E02929;
  transition: 1s;
}
.menu_box:last-child .menu_box_inner {
  height: 365px;
  background-image: url(top.jpg);
  background-size: cover;
  background-repeat: repeat-y; /* 縦方向（y軸）に画像を繰り返す */
  animation: scroll-bg 20s linear infinite;
}
.menu_box:last-child:hover .menu_box_inner {
  animation: scroll-bg 2s linear infinite;
}
@keyframes scroll-bg {
  from {
    background-position: left top; /* アニメーション開始時 (上端) */
  }
  to {
    background-position: left -390px; /* アニメーション終了時 (要素の高さ分下に移動) */
  }
}
.self_txt {
  text-align: center;
  font-family: 'メイリオ';
  color: #E02929;
  letter-spacing: 2px;
  margin: 20px 0 0;
}
.menu_self {
  display: block;
  margin: 10px auto 0;
}
.self_greeting {
  color: #000;
  margin: -30px 0 0;
  padding: 0 75px 0 0;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: right;
}
.scrool {
  position: absolute;
  top: 630px;
  left: 0;
  animation: fluffy 3s infinite;
}
@keyframes fluffy {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
.dl_warp {
  color: #E02929;
}
.dl_warp_txt:hover  {
font-size: 30px;
}
figcaption {
  text-align: center;
  font-size: 14px;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .header_ttl {
  font-size: 24px;
}
  .sec_menu {
  padding: 40px 0 0;
    background-position:13% 340px,24% 470px,50% 450px,66% 540px,78% 440px,85% 340px;
    background-size: 3%;
}
  .dl_warp {
  padding: 0 0 180px;
}
.menu_box:first-child {
  background-image: url(menu_self.svg);
  background-position: left top;
}
.menu_box:last-child {
  background-image: url(menu_product.svg);
  background-position: left top;
}
.menu_box:first-child::after,
.menu_box:last-child::after {
display: none;
}
  .sec_menu {
  padding: 80px 0 0;
  position: relative;
    background-image:url(cute_04.png),url(cute_01.png),url(cute_08.png),url(cute_05.png),url(cute_02.png),url(cute_06.png);
    background-position:13% 340px,24% 470px,50% 450px,66% 540px,78% 440px,85% 340px;
    background-size: 3%;
}
  .menu_box_wrap {
  flex-direction: row;
  justify-content: center;
  gap: 12%;
  margin:0px 0 140px;
}
.menu_box {
  list-style: none;
  width: 265px;
  margin: 0;
  height: 390px;
  transition: 0.5s;
}
.menu_box_inner {
  margin: 35px 0 0;
   padding: 80px 40px;
  border-radius: 123px;
  background-color: #EAF5E7;
  border:1px solid #E02929;
  transition: 1s;
}
.self_greeting {
  color: #000;
  margin: -15px 0 0;
  padding: 0 18px 0 0;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: right;
}
.self_txt {
  text-align: center;
  font-family: 'メイリオ';
  color: #E02929;
  letter-spacing: 2px;
}
.menu_self {
  margin: 30px auto 0;
}
.menu_box:last-child .menu_box_inner {
  width: 265px;
}
.scrool {
  top: 540px;
  left: 18%;
}
}
.sec_wrap {
  width: 80%;
  margin: auto;
  padding: 60px 0 100px;
}
.sec_self {
  background-color: #fff;
}
.sec_self_inner {
 padding: 40px 0 60px;
}
.self_ttl_wrap {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
h2 {
  color: #fff;
  font-weight: normal;
  font-size: 22px;
  letter-spacing: 5px;
  background-color: #E02929;
  border-radius: 30px;
  display: inline-block;
  padding: 1px 20px;
}
.self_name {
  font-size: 24px;
  display: inline-block;
  letter-spacing: 8px;
}
.self_name_eng {
  color: #E02929;
  letter-spacing: 1px;
}
.self_desc {
  margin: 10px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.self_img_01 {
  width: 126px;
  text-align: center;
}
.carrer_theme {
  border-bottom: 1px solid #E02929;
}
h3 {
  color: #fff;
  background-color: #E02929;
  display: inline-block;
  padding: 0px 8px;
  letter-spacing: 5px;
}
.self_carrer_wrap {
  display: grid;
  grid-template-columns: 28% 1fr;
  line-height: 1.4;
  gap: 15px;
  margin: 40px 0 0;
}
.self_carrer_wrap dt:first-child, .self_carrer_wrap dd:first-of-type {
  padding: 0;
}
.carrer_month {
  text-align: right;
}
.month_blue {
  background-color: #EAF5E7;
}
.month_pink {
  background-color:#E02929;
}
.carrer_month span {
  border: 1px solid #000;
  display: inline-block;
  padding: 0 4px;
  background-color: #fff;
  position: relative;
}
.carrer_month:first-of-type::before {
  content: "２０２２年";
  margin-right: 4px;
}
.carrer_month:nth-of-type(3):before {
  content: "２０２５年";
  color: #fff;
  margin-right: 4px;

}
.carrer_month span::after {
  content: "";
  display: block;
  background-color: #000;
  width: 1px;
  height: 130px;
  position: absolute;
  top: 22px;
  left: 50%;
}
.carrer_month:last-of-type span::after {
  display: none;
}
@media (min-width: 768px) {
  .self_desc_txt {
  width: 65%;
}
.self_img_02 {
  margin: -50px 0 0;
}
.self_carrer_wrap {
  grid-template-columns: 126px 1fr;
  gap:0 30px ;
  margin: 40px 0 0;
}
  .sec_wrap {
  width: 70%;
  margin: auto;
  padding: 60px 0 100px;
}
  .self_desc {
  margin: 80px 0 0;
  flex-direction: row;
  gap: 30px;
  align-items: normal;
}
.self_ttl_wrap {
  flex-direction: row;
  gap: 30px;
  align-items: center;
}
.self_carrer_wrap dt:nth-of-type(2),.self_carrer_wrap dd:nth-of-type(2) {
 padding: 40px 0 30px;
}
.self_carrer_wrap dt,.self_carrer_wrap dd {
 padding: 40px 0 0;
}
.self_carrer_wrap dt:nth-of-type(3),.self_carrer_wrap dd:nth-of-type(3) {
 padding: 10px 0 0;
}
.carrer_month span::after {
  height: 65px;
}
.sec_self_inner {
 padding: 40px 0 100px;
}
}
.product_contents_wrap {
  border-top: 1px solid #E02929;
  padding: 60px 0 0;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.product_ttl_wrap {
  margin: 40px 0;
}
.product_ttl:last-child {
  margin: 15px 0 0;
}
.product_ttl_box {
  letter-spacing: 3px;
  border: 1px solid #E02929;
  color: #E02929;
  background-color: #fff;
  padding: 2px 4px;
  margin: 0 20px 0 0;
}
.product_contents_img {
  margin: 20px 0 0;
  text-align: center;
}
.product_contents_img img {
  display: block;
  width: 100%;
}
.product_txt {
  display: block;
}
.product_contents_img {
  position: relative;
  overflow: hidden;
}
.product_contents_img::before,
.product_contents_img::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}
.product_contents_img::before {
  background: rgba(224,41,41,.7);
  width: 100%;
  height: 100%;
}
.product_contents_img::after {
  color: #fff;
  content: "サイトを見る";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
 
.product_contents_img:hover::before,
.product_contents_img:hover::after {
  opacity: 1;
}
 
.product_contents_ttl::before{
content: url(ttl_red.svg);
padding: 8px;
}
.product_contents_design {
  text-align: center;
  margin: 20px 0 0;
}
.product_contents_design a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}
.product_contents_design a:hover {
  color: #E02929;
}
footer {
  border-top: 1px solid #E02929;
}
.paper_link {
  margin: 30px 0 0;
  font-size: 18px;
}
.paper_link li {
  list-style: none;
  margin: 10px 0 0;
  vertical-align: middle;
}
.paper_link li::before {
  content: url(ttl_red.svg);
  margin: 0 10px 0 0; 
}
.paper_link li:first-child::before {
  content: url(phone.svg);
  margin: 0 10px 0 0;
}
.paper_link li:nth-child(2):before {
  content: url(mail.svg);
  margin: 0 10px 0 0;
}
.copy_right {
  color: #fff;
  background-color: #E02929;
  text-align: center;
}
#page_top{
  position: fixed;
  right: 10px;
  bottom: 50px;
}
.page_top img {
  display: block;
  width: 100%;
}
.page_top {
  width: 13%;
}
@media (min-width: 768px) {
  .product_txt {
  display: inline;
}
  .product_contents {
  width: calc((100% - 140px) /3 );
}
  .product_contents_wrap {
  padding: 60px 0 0;
  flex-direction: row;
  gap: 70px;
}
#page_top{
  position: fixed;
  right: 70px;
  bottom: 100px;
}
.page_top {
  width: auto;
}
}