@charset "utf-8";
body {
  font-size: 14px;
  color: #2C343A;
  line-height: 2;
  font-family: "hina-mincho", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #FFFBF8;
}
.yu_gothic {
  font-family:'游ゴシック';
}
header {
  padding: 30px 0 0;
}
.header_wrap {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.mark {
  color: #7A118B;

}
.contact {
  letter-spacing: 2px;
  color: #2C343A;
  text-decoration: none;
  font-size: 16px;
}
.contact:hover {
  color: #7A118B;
}
.dl_warp {
  padding: 0 0 60px;
  background-image: url(wave_bg.png);
  background-position: center bottom;
  background-size: contain;
  text-align: center;
}
.dl_warp_txt {
  display: block;
  letter-spacing: 4px;
  font-size: 18px;
  text-decoration: none;
  color: #2C343A;
  transition: 0.5s;
}
.header_ttl {
  line-height: 1.6;
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 5px;
}
.header_ttl rt {
  margin: 0 0 7px;
}
.menu_box_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:0px 0 30px;
}
.sec_menu {
  position: relative;
}
.menu_box:first-child::after{
content: "About me ↑";
color: #7A118B;
font-size: 38px;
padding: 0 0 0 20px;
}
.menu_box:last-child::before {
content: "Works ↓";
color: #7A118B;
font-size: 38px;
padding: 0 0 0 20px;

}
.wave_test img {
  display: block;
  width: 100%;
  margin: auto;
}
.menu_box {
  list-style: none;
  width: 85%;
  margin: auto;
  transition: 2s;
}
.menu_box a {
  text-decoration: none;
}
.menu_box:hover {
 transform: translateY(-20px);
}
.menu_box:hover .menu_box_inner {
background-image: linear-gradient(0deg, #7A118B, #a77aad 0%, #FFFBF8 55%);
}
.menu_box_inner {
  margin: 35px 0 0;
  border-radius: 123px;
  background-color: #FFFBF8;
  border:1px solid #2C343A;
  transition: 1s;
}
.menu_box:first-child {
  border-bottom: 1px solid #7A118B;
}
.menu_box:last-child .menu_box_inner {
  background-image: url(top.jpg);
  background-size: cover;
  background-repeat: repeat-y; /* 縦方向（y軸）に画像を繰り返す */
  animation: scroll-bg 20s linear infinite;
  height: 380px;
}
.menu_box:last-child:hover .menu_box_inner {
  animation: scroll-bg 2s linear infinite;
}
@keyframes scroll-bg {
  from {
    background-position: left top; /* アニメーション開始時 (上端) */
  }
  to {
    background-position: left -390px; /* アニメーション終了時 (要素の高さ分下に移動) */
  }
}
.self_txt {
  text-align: center;
  color: #2C343A;
  letter-spacing: 2px;
  margin: 20px 0 0;
}
.menu_self {
  display: block;
  margin: 10px auto 0;
}
.self_greeting {
  color: #000;
  margin: -30px 0 0;
  padding: 0 75px 0 0;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: right;
}
.scrool {
    position: fixed;
  z-index: 1000;
  top: 630px;
  left: 0;
  animation: fluffy 3s infinite;
}
@keyframes fluffy {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50px);
  }
}
figcaption {
  text-align: center;
  font-size: 14px;
}
.self_menu_arrow {
  display: none;
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
  .header_ttl {
  font-size: 48px;
}
.contact {
  font-size: 36px;
}
  .dl_warp {
  padding: 0 0 180px;
}
.menu_box:first-child {
  background-image: url(menu_self.svg);
  background-position: left top;
}
.menu_box:last-child {
  margin: 70px 0 0;
  background-image: url(menu_product.svg);
  background-position: left top;
}
.menu_box:first-child::after,
.menu_box:last-child::before {
display: none;
}
  .sec_menu {
    margin: 80px 0 0;
  position: relative;
}
  .menu_box_wrap {
  flex-direction: row;
  justify-content: center;
  gap: 12%;
  margin:0px 0 60px;
}
.sec_menu {
margin: 70px 0 0;
}
.menu_box {
  list-style: none;
  width: 265px;
  margin: 0;
  height: 390px;
  transition: 0.5s;
}
.menu_box_inner {
  margin: 35px 0 0;
   padding: 80px 40px;
  border-radius: 123px;
  transition: 1s;
     height: 380px;
}
.self_greeting {
  color: #000;
  margin: -15px 0 0;
  padding: 0 18px 0 0;
  font-size: 24px;
  letter-spacing: 5px;
  text-align: right;
}
.menu_self {
  margin: 30px auto 0;
}
.menu_box:first-child {
  border:none;
}
.menu_box:last-child .menu_box_inner {
  width: 265px;
}
.scrool {
  top: 440px;
  left: 8%;
}
.self_menu_arrow {
  display: block;
}
}
.sec_wrap {
  width: 80%;
  margin: auto;
  padding: 60px 0 100px;
}
.sec_self {
  background-color: #fff;
  margin: -40px 0 0;
}
h2 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: 5px;
}
.speechBubble_wrap {
  margin: 60px auto 0;
  text-align: center;
  letter-spacing: 5px;
  font-size: 24px;
  font-weight: normal;
}
.speechBubble {
  width: 80%;
   font-size: 18px;
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding: 20px 35px;
  border-radius: 45px;
  background-color: #7a118b;
  text-align: center;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: #ffffff;
}

.speechBubble::after {
  content: "";
  position: absolute;
  bottom: 0;
  border-style: solid;
  border-width: 20px 10px 0 10px;
  border-color: #7a118b transparent transparent;
  translate: -50% 100%;
  transform: skew(-33deg);
  transform-origin: top;
}
.self_wrap {
  margin: 40px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}
.self_name {
  font-size: 28px;
  display: inline-block;
  letter-spacing: 8px;
}
.self_name_eng {
  color: #7A118B;
  letter-spacing: 1px;
  padding: 0 0 0 20px;
  font-size: 16px;
}
.self_img_01 {
  width: 220px;
  text-align: center;
}
.self_desc {
width: 85%;
}
.self_desc_txt {
  margin: 30px 0 0;
}
.self_menu_wrap {
  margin: 30px 0 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content:center;
  align-items: center;
}
.self_menu_sec {
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.menu_sec_ttl {
  color: #2C343A;
  display: block;
  text-decoration: none;
  font-size: 18px;
  text-align: center;
  letter-spacing: 2px;
}
.menu_sub_ttl {
  letter-spacing: 3px;
  font-size: 48px;
}
.carrer_theme {
  margin: 0 0 40px;
}
.sec_self_box {
  margin: 40px 0 0;
  padding: 0 0 40px;
  border-bottom: 1px solid #7A118B;
}
.sec_self_box:last-child {
  border: none;
}
.carrer_txt {
  font-weight: bold;
  font-size: 20px;
}
.small_indent {
  margin: 10px 0 0;
  font-size: 16px;
  display: block;
  font-weight: normal;
}
.carrer_box {
  margin: 25px 0 0;
}
.carrer_box:first-child {
  margin: 0;
}
.icon_desc_wrap {
  margin: 30px 0 0;
}
.carrer_flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.icon_desc_wrap {
  display: flex;
}
.icon_desc_wrap svg {
  width: 65px;
  height: 65px;
}
.small {
  margin: 0 0 0 20px;
  font-size: 16px;
  color: #7A118B;
}
.self_menu_button {
  cursor: pointer;
  width: 185px;
}
.self_menu_button:hover .button {
transform: scale(1.1);
}
.button {
  font-size: 24px;
  border-radius: 50px;
  background-color: #7A118B;
  color: #fff;
  border:1px solid #7A118B;
  padding: 5px 25px 5px;
  letter-spacing: 3px;
  transition: 0.3s;
}
.product_btn {
    color: #7A118B;
  font-size: 18px;
  border-radius: 50px;
  border:1px solid #7A118B;
  padding: 3px 20px;
  letter-spacing: 3px;
  display: inline-block;
  text-decoration: none;
  transition: 0.5s;
}
.product_btn:hover {
    color: #FFFBF8;
background-color: #7A118B;
}
.indent {
  color: #7A118B;
  font-size: 16px;
  display: block;
}
.self_hidden {
  display: none;
}
.self_hidden {
  margin: 100px 0 0;
  padding: 20px 0 0;
  border-top: 1px solid #7A118B;
}
.close_btn {
  position: fixed;
  right: 7%;
  top: 520px;
  z-index: 1000;
  width: 60px;
  height: 73px;
  cursor: pointer;
  color: transparent;
  background-image: url(close_btn.svg);
}
.is-hidden {
  opacity: 0;       /* 透明にする */
  visibility: hidden; /* クリック操作もできなくする */
}
.close_btn:hover {
  background-image: url(closed_btn.svg); 
}
.apper_img img {
  display: block;
  width: 70%;
  margin: auto;
}
.apper_box_wrap {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.apper_box {
  text-align: center;
  padding: 0 25px;
}
.apper_ttl {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0 0 20px;
}
.apper_txt {
  margin: 20px 0 0;
}
.self_carrer_wrap {
  display: grid;
  grid-template-columns: 28% 1fr;
  line-height: 1.4;
  gap: 15px;
}
.self_carrer_wrap dt:first-child, .self_carrer_wrap dd:first-of-type {
  padding: 0;
}
.carrer_month {
  text-align: right;
}
.carrer_month span {
  color: #fff;
  display: inline-block;
  border-radius: 25px;
  padding: 5px 10px;
  background-color: #7A118B;
  position: relative;
}
.carrer_month:first-of-type::before {
  content: "２０２２年";
  margin-right: 4px;
}
.carrer_month:nth-of-type(3):before {
  content: "２０２５年";
  margin-right: 4px;

}
.carrer_month span::after {
  content: "";
  display: block;
  background-color: #7A118B;
  width: 1px;
  height: 130px;
  position: absolute;
  top: 22px;
  left: 50%;
}
.carrer_month:last-of-type span::after {
  display: none;
}

@media (min-width: 768px) {
  h2 {
    font-size: 48px;
  }
.self_img_02 {
  margin: -50px 0 0;
}
.self_carrer_wrap {
  grid-template-columns: 18% 1fr;
  gap:0 30px ;
}
  .sec_wrap {
  width: 70%;
  margin: auto;
  padding: 60px 0 100px;
}
.speechBubble {
  width: 90%;
   font-size: 24px;
}
.self_menu_sec {
  width: 60%;
  gap: 80px;
}
.speechBubble::after {
    left: 7%;
}
.self_wrap {
  flex-direction: row;
  gap: 60px;
}
.self_menu_wrap {
  width: 95%;
  flex-direction: row;
  margin: 100px auto 0;
  justify-content: space-between;
}
.menu_sec_ttl {
  font-size: 32px;
  width: calc((100% - 90px)/3);
  height: 200px;
  border: 1px solid #7A118B;
  border-radius: 100px;
  transition: 0.3s;
}
.menu_sec_ttl:hover{
 transform: translateY(-20px);
}
.menu_sec_ttl:hover .button {
transform: scale(1.1);
}
.menu_sec_ttl:hover {
background-image: linear-gradient(0deg, #7A118B, #a77aad 0%, #fff 35%);
}
.menu_sec_ttl  p {
margin: 40px 0 0;
}
.self_carrer_wrap dt:nth-of-type(2),.self_carrer_wrap dd:nth-of-type(2) {
 padding: 40px 0 30px;
}
.self_carrer_wrap dt,.self_carrer_wrap dd {
 padding: 50px 0 0;
}
.self_carrer_wrap dt:nth-of-type(3),.self_carrer_wrap dd:nth-of-type(3) {
 padding: 40px 0 0;
}
.carrer_month span::after {
  height: 120px;
}
.sec_self_inner {
  width: 70%;
  margin: auto;
 padding: 0 0 100px;
}
.self_desc {
width: 65%;
}
}
.product_contents {
  padding: 30px 0;
  border-bottom: 1px solid #7A118B;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product_contents_ttl {
  font-size: 18px;
  margin: 15px 0 0;
  text-align: center;
}
.product_contents_img img {
  display: block;
  width: 100%;
}
.product_txt {
  display: block;
}
.product_contents_img {
  width: 80%;
  margin: auto;
  position: relative;
  overflow: hidden;
}
.product_contents_txt {
  margin: 15px 0 0;
}
.product_contents_img::before,
.product_contents_img::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}
.product_contents_img::before {
  background: rgba(122,17,139,.7);
  width: 100%;
  height: 100%;
}
.product_contents_img::after {
  color: #fff;
  content: "サイトを見る";
  font-size: 22px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}
.icon_wrap {
  margin: 30px 0 40px;
}
.icon_wrap img {
  display: inline-block;
  width: 50px;
  height: 50px;

}
 .skill_wrap {
  display: grid;
  grid-template-columns: 30% 1fr;
  width: 90%;
  margin: auto;
 }

 .skill_wrap dt,.skill_wrap dd {
  padding: 25px 0;
  border-bottom:1px dotted #2C343A;
 }
   .skill_wrap dt {
    letter-spacing: 2px;
    padding: 25px 0 25px 45px;
  }
.product_contents_img:hover::before,
.product_contents_img:hover::after {
  opacity: 1;
}
.product_contents_design {
  text-align: center;
  margin: 20px 0 0;
}
.product_contents_design a {
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}
.product_contents_design a:hover {
  color: #7A118B;
}
footer {
  border-top: 1px solid #7A118B;
}
.paper_link {
  margin: 30px 0 0;
  font-size: 18px;
}
.paper_link li {
  list-style: none;
  margin: 10px 0 0;
  vertical-align: middle;
}
.paper_link li::before {
  content: url(ttl_red.svg);
  margin: 0 10px 0 0; 
}
.paper_link li:first-child::before {
  content: url(phone.svg);
  margin: 0 10px 0 0;
}
.paper_link li:nth-child(2):before {
  content: url(mail.svg);
  margin: 0 10px 0 0;
}
.product_btn_wrap {
  margin: 35px 0 0;
  text-align: center;
}
.copy_right {
  color: #fff;
  background-color: #7A118B;
  text-align: center;
}
#page_top{
  position: fixed;
  right: 10px;
  bottom: 50px;
}
.page_top img {
  display: block;
  width: 100%;
}
.page_top {
  width: 13%;
}
@media (min-width: 768px) {
  .product_contents {
  padding: 60px 0;
  flex-direction: row;
}
.product_contents_desc {
  width: 60%;
}
.product_contents_ttl {
  font-size: 24px;
  margin: 0;
  text-align: left;
}
.product_contents_design {
  text-align: right;
}
.product_contents_txt {
  margin: 30px 0 0;
}
  .product_txt {
  display: inline;
}
.product_btn_wrap {
  text-align: right;
}
.apper_box { 
  width: calc((100% - 40px)/3);
}

.apper_box_wrap {
  flex-direction: row;
}
#page_top{
  position: fixed;
  right: 5%;
  bottom: 100px;
}
.page_top {
  width: auto;
}
}
@media (min-width: 1200px) {
.product_contents_img {
  width: 90%;
  position: relative;
  overflow: hidden;
}
}